$fontColour: #1ac;
$bgColour: #e5e7eb;

.app {
  height: 120vh;
}

nav {
  background-color: $bgColour;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  ul {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 20px;

    li {
      list-style: none;
      margin-right: 20px;
      font-size: 25px;
      font-weight: bold;

      a {
        text-decoration: none;
        color: $fontColour;
      }
    }
  }
}

.birds-list {
  margin-top: 130px;
}

footer {
  background-color: $bgColour;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
  color: $fontColour;
}